.Deck {
  font-family: "Slabo 27px", serif;
}

.deck-card {
  margin-top: 100px;
}

.Deck-title {
  color: azure;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.subtitle {
  font-size: 20px;
}

.Deck-btn {
  background: none;
  outline: none;
  font: inherit;
  margin: 0.5em;
  padding: 0.7em 2.5em;
  color: #009688;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
  transition: 0.25s;
}

.Deck-btn:hover {
  border-color: #4caf50;
  color: white;
  box-shadow: inset 0 0 0 2em #4caf50;
}
